*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mood-songs-container{
    display :inline-block;
   transition: 0.3s;
   border-radius: 5px; 
   width: 260px;
   margin: 50px;
   padding-bottom: 10px;
}

