 body {
      height: 100vh;
      background: linear-gradient(to bottom right, #9bb5cc, rgb(9, 32, 54));
      /* background: linear-gradient(to bottom right, #222222, #222222 ); */
      /* background: #222222;  */
      background-repeat: no-repeat; 
        background-attachment: fixed;
      /* background: linear-gradient(to bottom right, #130404, rgb(44, 43, 23)); */
      /* background: linear-gradient(to bottom right, #2D3F48,#a4c5c7); */
    }

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}